.container {
  display: flex;
}

.coin-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 3px solid gray;
}

h2 {
  font-size: 47px;
  font-family: "Montserrat";
}

.coin-descrip {
  padding: 25px;
  text-align: justify;
  font-family: "Montserrat";
  padding-bottom: 5px;
  width: 100%;
  font-size: 17px;
  line-height: 28px;
}

.market-data {
  align-self: start;
  margin: 25px;
}

h3 {
  font-size: 25px;
  font-family: "Montserrat";
  font-weight: 700;
}

h4 {
  font-size: 25px;
  font-family: "Montserrat";
  font-weight: 400;
}

.add-to-watchlist {
  width: 95%;
  height: 45px;
  color: black !important;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .coin-info {
    width: 100%;
    padding: 10px;
    border-right: none;
  }
}

@media (max-width: 1200px) {
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 21px;
  }
}
