.my-carousel{
                      height: 50%;
                      display: flex;
                      text-align: center;
                      margin-top: 20px;
                      }
                                          
                      .carousel-item{
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      color: white;
                      cursor: pointer;
                      font-family:"Montserrat" ;
                                          
                      }
                                          
                      .carousel-item > img{
                      margin-bottom: 12px;
                      }
                                          
                      .carousel-item > span{
                      text-transform: uppercase;
                      font-size: 15px;
                      }
                      
                      @media (max-width:500px) {
                         .my-carousel{
                           height: 55%;
                         }              
                      }
                                          