.crypto-title{
                      color: rgb(7, 195, 237);
                      font-family: "Montserrat" !important;
                      font-weight: 700 !important;
                      cursor: pointer;
                      font-size: 25px !important;
                      }
                                        
                      #outlined-select-currency{
                      min-height: 8px;
                      max-height: 8px;
                      width: 50px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      }
                      
                      @media (max-width:500px) {
                       
                      .crypto-title{
                          font-size: 22px !important;
                       }
                      
                       #outlined-select-currency{
                                            min-height: 5px;
                                            max-height: 5px;
                                            width: 45px;
                                            
                      }
                                            
                      }