
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Koulen&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;500&family=Roboto+Flex:opsz,wght@8..144,500&family=Satisfy&display=swap');

 *{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
 }

 .main-div{
  background-color: #14161a;
  color: white;
  min-height: 100vh;
 }

 a{
   text-decoration: none;
   color: rgb(7, 195, 237);
 }